.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  color: #222;
  border-radius: 5px;
  z-index: 123123;
}
.container button {
  background-color: #ccc;
  color: #222;
  padding: 3px 7px;
}
