.stringContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stringContainer > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 42px;
}
.stringContainer > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  flex-grow: 1;
  filter: drop-shadow(3px 2px 1px #111);
}

.stringContainer > div:nth-of-type(2) > :first-child {
  margin-right: -5px;
  z-index: 10;
}

.stringContainer > div:last-child {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stringContainer > div:last-child > div {
  display: flex;
  gap: 2px;
}

.stringContainer > div:last-child > div button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.string {
  width: 100%;
  border-radius: 3px;
  background: linear-gradient(
    to bottom right,
    #646cff 0%,
    #646cff 30%,
    #8085e4 50%,
    #646cff 70%,
    #646cff 100%
  );
}
.stringBall {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #888;
}

.stringContainer > div:last-child > div button:hover {
  filter: brightness(1.25);
}

.stringContainer > button:hover {
  background-color: #333;
}
