.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container h2 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.container h2 button {
  padding: 5px 12px;
}

.container h2 button,
.container input {
  font-size: 0.7em;
}
.container input {
  width: 30px;
  padding: 5px;
  background-color: #1a1a1a;
  border-radius: 5px;
  text-align: center;
  border: none;
  transform: translateY(7%);
}

.container > div:first-of-type {
  display: grid;
  grid-template-rows: repeat(3, 20px);
  grid-template-columns: repeat(3, 20px);
  grid-template-areas:
    'a . .'
    '. b .'
    '. . c';
  background: #1a1a1a;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.container > div:first-of-type > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  margin: 0;
  font-size: 1.5em;
  font-family: painter;
}

.beatContainer {
  display: flex;
  gap: 10px;
}

.beatUnit {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
