#root {
  width: 100vw;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  /* min-width: max-content; */
  height: 100%;
  padding: 5vw;
  background: #2b2a33;
}

main > *:last-child {
  align-self: center;
  max-width: 450px;
  margin: 0 0 7vh;
}

main > button {
  width: 50%;
  max-width: 200px;
  margin: 0 auto;
}

@media (min-width: 786px) {
  main {
    width: 55vw;
    margin: auto;
    background: #2b2a33;
  }
}
