.stringSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.stringSection > * {
  margin: auto;
}

.stringSection > button {
  font-family: inherit;
  margin: auto;
  padding: 5px 10px;
  background-color: #2b2a33;
}

.allStringsButtonsContainer button:hover,
.stringContainer > div:last-child > div button:hover {
  filter: brightness(1.25);
}

.stringSection > div > button:hover,
.stringContainer > button:hover {
  background-color: #333;
}
