.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}

.container h2 {
  display: flex;
  gap: 15px;
  height: 30px;
}

.container h2 span {
  align-self: center;
}

.container button,
.container input {
  font-size: 0.7em;
  background-color: #cccccc;
  color: #1a1a1a;
  font-weight: 500;
  height: auto;
  padding: 0 7px !important;
}

.container input {
  width: 50px;
  border-radius: 5px;
  text-align: center;
  border: none;
}

.container > div:first-child {
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  padding: 15px 0;
  background-color: #1a1a1a;
  width: 100%;
}

.container p {
  margin: 0;
  font-size: 1.5em;
  font-family: painter;
  transform: scale(1.5);
}
